---
import ThemeToggle from "../ThemeToggle.astro";
import Search from "../Search.astro";
import { menuLinks } from "@/site-config";

const url = new URL(Astro.request.url);
---

<header id="main-header" class="group relative mb-20 flex items-center sm:ps-[4.5rem]">
	<div class="flex sm:flex-col">
		<a
			href="/"
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			aria-current={url.pathname === "/" ? "page" : false}
		>
			<svg
				class="me-2 h-8 w-8 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-16 sm:w-16"
				viewBox="211.0556 116.1481 64 64"
			>
				<title>Logo</title>
				<g
					style="display:inline"
					transform="matrix(1, 0, 0, 1, 211.0555572509766, 116.1481399536133)"
				>
					<path
						style="display:inline;fill:#2d2537;stroke-width:1.22169;stroke-miterlimit:1"
						d="M 6.7243495,0 H 57.275651 C 61.00094,0 64,2.9990599 64,6.7243495 V 57.275651 C 64,61.00094 61.00094,64 57.275651,64 H 6.7243495 C 2.9990599,64 0,61.00094 0,57.275651 V 6.7243495 C 0,2.9990599 2.9990599,0 6.7243495,0 Z"
					></path>
					<path
						style="display:inline;fill:#8949a8;fill-opacity:1;stroke:#8949a8;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="M 104.33274,96.558695 92.46873,89.534627 82.243823,103.13819 76.421149,99.492792 v 11.736418 l 8.543974,4.50848 11.23792,-17.134015 z m 8.01277,3.46e-4 11.86462,-7.023042 10.22373,13.604451 5.82299,-3.644898 -0.001,11.736418 -8.54437,4.50774 -11.23644,-17.134986 z"
						transform="matrix(0.99843644,0,0,1.0545935,-76.169606,-89.240998)"></path>
					<path
						style="display:inline;fill:#8949a8;fill-opacity:1;stroke:#8949a8;stroke-width:0.264583px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="m 35.850996,50.572905 -9.783394,-9.80779 -11.316681,14.33446 -8.3683207,-6.1613 v 12.32261 l 9.3113777,4.362741 11.392254,-14.547761 z m 3.946756,0 9.783394,-9.80779 11.316681,14.33446 8.368321,-6.1613 v 12.32261 L 59.95477,65.623626 48.562516,51.075865 Z"
						transform="matrix(1.01349,0,0,0.99846926,-6.3346255,-12.507173)"></path>
					<path
						style="display:inline;fill:#8949a8;fill-opacity:1;stroke:none;stroke-width:0.249194px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="M 10,63.825611 32,48 54,63.825611 Z"></path>
					<path
						style="display:inline;fill:#2d2537;fill-opacity:1;stroke:none;stroke-width:0.0861154px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
						d="M 24.397333,62.92247 32,57.453523 39.602667,62.92247 Z"></path>
					<path
						style="display:inline;fill:none;stroke:#2d2537;stroke-width:1.1988;stroke-miterlimit:1"
						d="M 7.1977966,0.59940314 H 56.802203 c 3.65551,0 6.598393,2.94288346 6.598393,6.59839346 V 56.802207 c 0,3.65551 -2.942883,6.598393 -6.598393,6.598393 H 7.1977966 c -3.65551,0 -6.59839346,-2.942883 -6.59839346,-6.598393 V 7.1977966 c 0,-3.65551 2.94288346,-6.59839346 6.59839346,-6.59839346 z"
					></path>
				</g>
			</svg>
			<span class="pl-3 text-xl font-bold sm:text-2xl">Rhys' Domain</span>
		</a>
		<nav
			id="navigation-menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-2 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			aria-label="Main menu"
		>
			{
				menuLinks.map((link) => (
					<a
						href={link.path}
						class="px-4 py-4 sm:py-0 sm:hover:underline"
						aria-current={url.pathname === link.path ? "page" : false}
						data-astro-prefetch
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
