---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import aboutImg from "@/assets/about.png";

const meta = {
	title: "About",
	description: "Some information about the website's owner, Gravydigger.",
};
---

<PageLayout meta={meta}>
	<h1 class="title">About</h1>
	<div class="space-y-6">
		<Image
			class="float-left mr-8 w-32"
			src={aboutImg}
			alt="A cartoon human male looking smiling and giving a wave"
			loading="eager"
			fetchpriority="high"
		/>

		<p>Hi, I'm Gravydigger (though most people call me Gravy for short)!</p>
		<p>
			I'm an Australian with a Bachelor's degree in Computer Science (Major in Cyber Security), and
			I create personal sysadmin & coding projects for fun! As a matter of fact, this blog is
			maintained by me as a personal project using a theme called <a
				class="cactus-link inline-block"
				href="https://github.com/chrismwilliams/astro-cactus"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">Astro Cactus</a
			>. I also host D&D sessions for a small group of friends weekly using FoundryVTT, as well as
			host a private instance of Nextcloud for me to access my files remotely. I also am currently
			starting to form a homelab to better learn how to use servers to improve my day-to-day life,
			or to learn something new (or both!).
		</p>
		<p>
			You can view the source code of this website <a
				class="cactus-link inline-block"
				href="https://github.com/Gravydigger/Gravydigger.github.io"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository">here</a
			> if you like too! The artwork you see was drawn by my good friend <a
				class="cactus-link inline-block"
				href="https://damitakn.carrd.co/"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="artist's portfolio">Damita</a
			>.
		</p>
	</div>
</PageLayout>
